body{
    background: url(./back1.webp) no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.sub{
    text-align: center;
    background-color: aquamarine;
    border: 2px solid black;
    border-radius: 18px;
}
.container{
    background: url(./back2.avif) no-repeat;
    color: white;
    background-size: cover;
    margin-top: 10px;
    padding-left: 10px;
    background-color: rgb(241, 236, 89);
    border-radius: 14px;
    border: 2px solid black;
}
.container1{
    text-align: center;
}
.btn{
    background-color: blanchedalmond;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
    padding: 10px;
    margin-top: 10px;
    border: 2px solid black;
    border-radius: 10px;
}
.btn:hover{
    background-color: blueviolet;
}